:root {
  --bg-main: #181c24;
  --bg-aside: #23283b;
  --aside-text-header: #bfc9db;
  --bg-recent-chat: #474d6b;
  --bg-recent-chat-hover: #2d3656;
  --color-recent-chat-username: #f8fafc; 
  --bg-container-links: #1a1d29;
  --bg-container-links-hover: #2a3147;
  --color-border-aside-button: #4f5d75;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100dvh;
}
